/CARS/FOCUS/GEOMETRY.BIN filter=lfs diff=lfs merge=lfs -text
/CARS/FOCUS/TEXTURES.BIN filter=lfs diff=lfs merge=lfs -text
/CARS/FOCUS/VINYLS.BIN filter=lfs diff=lfs merge=lfs -text
/docs/in-game-v3/v3-frente-perspectiva.png filter=lfs diff=lfs merge=lfs -text
/docs/in-game-v3/v3-lateral-direita.png filter=lfs diff=lfs merge=lfs -text
/docs/in-game-v3/v3-lateral-esquerda.png filter=lfs diff=lfs merge=lfs -text
/docs/in-game-v3/v3-traseira.png filter=lfs diff=lfs merge=lfs -text
